#page
  %h1 Whose Flickr
  %p Whose account does that Flickr pic belong to?
  %form{:action => "/", :method => "get"}
    %label{:for => "url"} Photo URL:
    %input#url{:name => "url", :value => params[:url]}
    %input{:type => "submit", :value => "Go"}
  %p.example (e.g. http://farm4.static.flickr.com/3583/3794050754_f221c3d533_b.jpg)
  = @profile
  - if params[:url] && @profile.nil?
    %p.error Not a valid photo URL
